*{
    box-sizing: border-box;
}
body {
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(11, 11, 11, 0.3);
    left: 0;
    right: 0;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 36px 0 29px;
}
.btn{
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: all .5s;
    display: inline-block;
}
.header-content__btn:hover, .header-content__btn:active{
    background: #770302;
}
.header-btn{
    width: 60px;
    height: 60px;
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-btn span{
    display: block;
    width: 36px;
    height: 2px;
    background-color: #fff;
}
.header-btn span + span{
    margin-top: 8px;
}
.header-content__title {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}
.header-content__text{
    width: 284px;
    margin-bottom: 25px;
}
.header-content__btn{
    padding: 30px 62px;
}
.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider-top .slick-dots button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    background-color: #0B0B0B;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.slider-top .slick-dots .slick-active button{
    background-color: #fff;
}
.slider-top .slick-dots li{
    display: inline-block;
    margin: 0 9px;
}
.slider-top .slick-dots {
    margin: -55px auto 0;
    z-index: 5;
    position: relative;
    max-width: 1230px;
    padding: 0 15px;
}
.statistics {
    margin: 160px 0 100px;
}
.statistics-inner {
    display: flex;
    justify-content: space-around;
}
.statistics-characteristic {
    text-align: center;
}
.statistics-characteristic__title {
    margin-bottom: 19px;
}
.statistics-characteristic__num {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
}
.statistics-characteristic__num span{
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;
}
.statistics-characteristic__desc {
    color: #B70021;
}
.statistics-characteristic__num-speed span{
    display: inline-block;
    position: relative
}
.statistics-characteristic__num-speed span::before{
    content: '+';
    position: absolute;
    top: -65px;

}
.video-content {
    margin-bottom: 100px;
}
.video img{
    width: 100%;
}
.advantages__row{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.advantages__title{
    line-height: 42px;
    color: #B70021;
    font-size: 36px;
    position: absolute;
}
.advantages--position-top {
    top: 0;
    left: 0;
}
.advantages--position-bottom {
    bottom: 0;
    right: 0;
}
.advantages__text {
    max-width: 303px;
}
.advantages-desc {
    max-width: 570px;
    width: 100%;
}
.advantages--identation-left {
    margin-left: 56px;
}
.advantages--identation-right {
    margin-right: 56px;
}
.vehicle-description__image img{
    width: 100%;
}
.vehicle-description {
    padding-bottom: 99px;
}
.vehicle-description__image {
    margin-bottom: 100px;
}
.vehicle-descriptio-row {
    display: flex;
    justify-content: space-between;
}
.vehicle-descriptio-row__item{
    max-width: 570px;
    width: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}
.vehicle-descriptio-row__item-num{
    color: #B70021;
}
.vehicle-descriptio-row__item-text{
    max-width: 430px;
    padding-top: 25px;
}
.footer-content__btn {
    padding: 30px 52px;
}
.footer-content__btn:hover, .footer-content__btn:active{
    background-color: #0B0B0B;
}
.footer-btn{
    text-align: center;
    margin-bottom: 83px;
}
.footer {
    background-color: #690102;
    padding: 83px 0 20px;
}
.footer-copy li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
.footer-copy li + li::before {
    content: '';
    display: block;
    width: 2px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    left: -5px;
}
.footer-copy {
    text-align: center;
    font-weight: 700;
}
.menu {
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all .5s;
    z-index: 7;
}
.menu.active {
    left: 0;
}
.container-menu {
    position: relative;
}
.close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 31px;
    right: 15px;
    cursor: pointer;
}
.close-btn::after, .close-btn::before {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;
}
.close-btn::after {
    transform: rotate(45deg);    
}
.close-btn::before {
    transform: rotate(-45deg);
    bottom: -2px;
}
.menu__list {
    height: 100vh;
    display: flex;
    align-items: center;
}
.menu__list ul {
    max-width: 368px;
    width: 100%;
}
.menu__list a {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    padding: 30px 25px 14px 0;
    border-bottom: 3px solid #B70021;
    display: inline-block;
    width: 100%;
    transition: all .5s;
}
.menu__list a:hover, .menu__list a:active{
    border-color: #fff;
}
.menu__list a:hover{
    transform: scale(1.2);
    margin-left: 37px;
}

@media(max-width: 1220px) {
    .advantages__text {
        padding-left: 20px;
    }
}

@media(max-width: 930px) {
    .header-content__text {
        line-height: 30px;
    }
    .advantages__row {
        margin-bottom: 60px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages__title {
        position: static;
        margin-bottom: 20px;
    }
    .advantages__text {
        margin-bottom: 25px;
        max-width: 90%;
        line-height: 30px;
    }
    .advantages--identation-right, .advantages--identation-left {
        margin: 0;
    }
    .advantages__row-reverse, .advantages__row-reverse .advantages-desc {
        order: -1;
    }
    .advantages--identation-left {
        display: flex;
        flex-direction: column-reverse;
    }
    .advantages__img img {
        max-width: 100%;
    }
    .video-content {
        margin-bottom: 70px;
    }
    .vehicle-descriptio-row {
        display: flex;
        flex-wrap: wrap;
    }
    .vehicle-descriptio-row__item + .vehicle-descriptio-row__item {
        padding-right: 0;
        padding-top: 40px;
    }
    .vehicle-descriptio-row__item{
        padding-right: 0;
        justify-content: space-evenly;
    }
    .vehicle-description__image {
        margin-bottom: 50px;
    }
    .vehicle-descriptio-row__item-text {
        line-height: 30px;
    }
    .footer {
        padding: 60px 0 20px;
    }
    .footer-btn {
        margin-bottom: 40px;
    }
    .footer-copy li {
        display: inline-block;
        padding: 18px 10px;
    }
    .footer-copy li + li::before {
        content: '';
        display: none;
    }
}

@media(max-width: 820px) {
    .statistics-characteristic {
        padding: 50px;
    }
    .statistics-inner {
        flex-wrap: wrap;
    }
    .statistics {
        margin: 110px 0 70px;
    }

}

@media(max-width: 420px) {
    .logo img {
        max-width: 180px;
    }

    .header-content__title {
        font-size: 70px;
        line-height: 85px;
        margin-top: 50px;
    }

    .menu__list a {
        font-size: 30px;
        line-height: 44px;
        padding: 20px 0 0;
        border-bottom: 2px solid #B70021;
    }

    .header-content__btn, .footer-content__btn {
        padding: 25px 31px;
    }

    .header-content__title {
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .statistics-characteristic {
        padding: 30px 0;
    }

    .video-content {
        margin-bottom: 75px;
    }

}

@media(max-height: 500px) {
    .logo {
        padding: 12px 0 12px;
    }
    .header-content__title {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 55px;
        line-height: 60px;
    }
    .header-content__text {
        line-height: 27px;
        font-size: 20px;
    }
    .header-content__btn, .footer-content__btn {
        padding: 20px 22px;
    }
}

